.popover.el-popper {
 padding: 16px;
 font-family: PingFangSC-Regular;
 .el-button--primary.popover-primary {
  background-color: #0c66ff;
  border: 1px solid #0c66ff;
 }
 .el-button--primary.popover-success {
  background-color: #0bb07b;
  border: 1px solid #0bb07b;
 }
 .el-button--primary.popover-error {
  background-color: #f03d3d;
  border: 1px solid #f03d3d;
 }
 .el-button--primary.popover-warning {
  background-color: #ffad0d;
  border: 1px solid #ffad0d;
 }
}
