/**
 * 本文件是项目color样式文件
**/

.bg-f8f9fb {
  background: #F8F9FB;
}
.bg-828282 {
  background: rgba(130,130,130,0.05);
}
.bg-e8e8e8 {
  background: #E8E8E8;
}
.bg-e1e4e8 {
  background: #E1E4E8;
}
.bg-ffffff {
  background: #FFFFFF;
}
.bg-f03d3d {
  background: #F03D3D;
}
.bg-0c66ff {
  background: #0C66FF;
}
.bg-ffad0d {
  background: #FFAD0D;
}
.shadow {
  box-shadow: 0 0 2px 0 rgba(10,31,68,0.08), 0 9px 12px 0 rgba(10,31,68,0.10);
}
.gradient-blue {
  background-image: linear-gradient(180deg, #1285FF 0%, #20D1FF 100%);
}
.gradient-green {
  background-image: linear-gradient(135deg, #57D968 0%, #00D590 100%);
}
.gradient-red-orange {
  background-image: linear-gradient(135deg, #FF5980 0%, #FFA882 100%);
}
.gradient-blue-purple {
  background-image: linear-gradient(135deg, #916BFF 0%, #3366FF 98%);
}
.gradient-red-purple {
  background-image: linear-gradient(135deg, #D438FF 0%, #8C58FF 100%);
}
