/**
 * 本文件是项目color样式文件
**/

.bg-black-default {
  background: #212434;
}
.bg-primary {
  background: #0c66ff;
}
.bg-success {
  background: #0bb07b;
}
.bg-error {
  background: #f03d3d;
}
.bg-alert {
  background: #ffad0d;
}
.bg-white {
  background: #fff;
}

.bg-gray-1 {
  background: #F8F9FB;
}
.bg-gray-2 {
  background: rgba(130,130,130,0.05);
}
.bg-gray-3 {
  background: #E8E8E8;
}
.bg-gray-4 {
  background: #E1E4E8;
}

.bg-black-900 {
  background: #0A1F44;
}
.bg-black-800 {
  background: #182C4F;
}
.bg-black-700 {
  background: #273A5B;
}
.bg-black-600 {
  background: #364866;
}
.bg-black-500 {
  background: #445571;
}
.bg-black-400 {
  background: #53627C;
}
.bg-black-300 {
  background: #5D6C84;
}
.bg-black-200 {
  background: #6C798F;
}
.bg-black-100 {
  background: #758196;
}

.bg-gray-900 {
  background: #8A94A6;
}
.bg-gray-800 {
  background: #98A1B1;
}
.bg-gray-700 {
  background: #A6AEBC;
}
.bg-gray-600 {
  background: #B5BBC6;
}
.bg-gray-500 {
  background: #C9CED6;
}
.bg-gray-400 {
  background: #E1E4E8;
}
.bg-gray-300 {
  background: #F1F2F4;
}
.bg-gray-200 {
  background: #F8F9FB;
}
.bg-gray-100 {
  background: #FCFCFD;
}
.bg-black-navigation {
  background: #15161A;
}
.bg-navigation-hover {
  background: #2B2D39;
}

.bg-blue-900 {
  background: #0A44A5;
}
.bg-blue-800 {
  background: #0D55CF;
}
.bg-blue-700 {
  background: #0C66FF;
}
.bg-blue-600 {
  background: #007FFF;
}
.bg-blue-500 {
  background: #5AACFF;
}
.bg-blue-400 {
  background: #99CCFF;
}
.bg-blue-300 {
  background: #CCE6FF;
}
.bg-blue-200 {
  background: #EBF5FF;
}
.bg-blue-100 {
  background: #F5FAFF;
}
.bg-green-900 {
  background: #006242;
}
.bg-green-800 {
  background: #00865A;
}
.bg-green-700 {
  background: #0BB07B;
}
.bg-green-600 {
  background: #22C993;
}
.bg-green-500 {
  background: #3ED3A3;
}
.bg-green-400 {
  background: #6DDFBA;
}
.bg-green-300 {
  background: #92ECCF;
}
.bg-green-200 {
  background: #CFF8EB;
}
.bg-green-100 {
  background: #EAFCF7;
}

.bg-red-900 {
  background: #A50000;
}
.bg-red-800 {
  background: #BD0303;
}
.bg-red-700 {
  background: #DD2727;
}
.bg-red-600 {
  background: #F03D3D;
}
.bg-red-500 {
  background: #FF5D5D;
}
.bg-red-400 {
  background: #FF8D8D;
}
.bg-red-300 {
  background: #FFC2C2;
}
.bg-red-200 {
  background: #FFEAEA;
}
.bg-red-100 {
  background: #FFF8F8;
}

.bg-yellow-900 {
  background: #F07300;
}
.bg-yellow-800 {
  background: #FF8F00;
}
.bg-yellow-700 {
  background: #FFAD0D;
}
.bg-yellow-600 {
  background: #FFBB38;
}
.bg-yellow-500 {
  background: #FFCA65;
}
.bg-yellow-400 {
  background: #FFDC99;
}
.bg-yellow-300 {
  background: #FFECC7;
}
.bg-yellow-200 {
  background: #FFF6E4;
}
.bg-yellow-100 {
  background: #FFFCF5;
}
