/**
 * 本文件是项目color样式文件
**/

.bg-lighter {
  background: #F8F9FB;
}
.bg-light {
  background: rgba(130,130,130,0.05);
}
.bg-medium {
  background: #E8E8E8;
}
.bg-dark {
  background: #E1E4E8;
}
.shadow {
  box-shadow: 0 0 2px 0 rgba(10,31,68,0.08), 0 9px 12px 0 rgba(10,31,68,0.10);
}
.gradient-blue {
  background-image: linear-gradient(180deg, #1285FF 0%, #20D1FF 100%);
}
.gradient-green {
  background-image: linear-gradient(135deg, #57D968 0%, #00D590 100%);
}
.gradient-red-orange {
  background-image: linear-gradient(135deg, #FF5980 0%, #FFA882 100%);
}
.gradient-blue-purple {
  background-image: linear-gradient(135deg, #916BFF 0%, #3366FF 98%);
}
.gradient-red-purple {
  background-image: linear-gradient(135deg, #D438FF 0%, #8C58FF 100%);
}
