.border-outline {
 border: 1px solid #0C66FF;
}
.border-green {
 border: 1px solid #0BB07B;
}
.border-red {
 border: 1px solid #F03D3D;
}
.border-yellow {
 border: 1px solid #FFAD0D;
}
.border-gray {
 border: 1px solid #E1E4E8;
}
.border-darkgray {
 border: 1px solid #C9CED6;
}
.border-black {
 border: 1px solid #C9CED6;
}
.border-outline-2 {
 border: 2px solid #0C66FF;
}
.border-green-2 {
 border: 2px solid #0BB07B;
}
.border-red-2 {
 border: 2px solid #F03D3D;
}
.border-yellow-2 {
 border: 1px solid #FFAD0D;
}
.border-gray-2 {
 border: 2px solid #E1E4E8;
}
.border-darkgray-2 {
 border: 2px solid #C9CED6;
}
