/**
 * 本文件是项目color样式文件
**/

.bg-dark {
 background-color: #212434;
}
.bg-primary {
 background-color: #0c66ff;
}
.bg-success {
 background-color: #0bb07b;
}
.bg-error {
 background-color: #f03d3d;
}
.bg-alert {
 background-color: #ffad0d;
}
.bg-white {
 background-color: #fff;
}
.box-shador {
 box-shadow: 0 0 2px 0 rgba(10,31,68,.08), 0 9px 12px 0 rgba(10,31,68,.10);
}
