/**
 * 本文件是项目color样式文件
**/

.color-primary {
  color: #0c66ff;
}
.color-success {
  color: #0bb07b;
}
.color-error {
  color: #f03d3d;
}
.color-alert {
  color: #ffad0d;
}
.color-dark {
  color: #0A1F44;
}
.color-medium {
  color: #0A1F44;
}
.color-light {
  color: #53627C;
}
.color-input {
  color: #E1E4E8;
}

