.color-0c66ff {
  color: #0c66ff;
}
.color-0b69ff {
  color: #0B69FF;
}
.color-0bb07b {
  color: #0bb07b;
}
.color-f03d3d {
  color: #f03d3d;
}
.color-ffad0d {
  color: #ffad0d;
}
.color-0a1f44 {
  color: #0A1F44;
}
.color-53627c {
  color: #53627C;
}
.color-8a94a6 {
  color: #8A94A6;
}
.color-a6aebc {
  color: #A6AEBC;
}
.color-ffffff {
  color: #FFFFFF;
}
