.d-flex{
	display: flex;
}
.flex-flow-column {
  flex-flow: column nowrap;
}
.jus-aro {
  justify-content: space-around;
}
.jus-bew {
  justify-content: space-between;
}
.align-cen {
  align-items: center;
}
.bd-radius-50 {
  border-radius: 100%;
}
.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}
.h-100 {
  height: 100%;
}
.pad-24 {
  padding: 24px;
}
.bg-dark {
  background-color: #212434;
}
.bg-primary {
  background-color: #0C66FF;
}
.bg-success {
  background-color: #0BB07B;
}
.bg-error {
  background-color: #F03D3D;
}
.bg-alert {
  background-color: #FFAD0D;
}
.bg-white {
  background-color: #FFFFFF;
}
.box-shador {
  box-shadow: 0 0 2px 0 rgba(10,31,68,0.08), 0 9px 12px 0 rgba(10,31,68,0.10);
}
