// 相对定位
.position-relative {
  position: relative;
}

// 固定定位
.position-fixed {
  position: fixed;
}

// 绝对定位
.position-absolute {
  position: absolute;
}

//与父元素保持同等宽高
.position-absolute-all {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

//
.position-absolute-y {
  position: absolute;
  top: 0;
  bottom: 0;
}
