// 悬浮在顶部
.fixed-top {
  position: fixed;
  top: 0;
}

// 悬浮在底部
.fixed-bottom {
  position: fixed;
  bottom: 0;
}

// 相对定位
.position-relative {
  position: relative;
}

// 绝对定位
.position-absolute {
  position: absolute;
}
