@mixin textBasic($fontSize: 12, $lineHeight: normal) {
 font-size: #{$fontSize}px;
 line-height: $lineHeight;
}
// 文字不换行
.text-nowrap {
 white-space: nowrap;
}
// 文字超出隐藏
.text-truncate {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
// 所有字母小写
.text-lowercase {
 text-transform: lowercase;
}
// 所有字母大写
.text-uppercase {
 text-transform: uppercase;
}
// 首字母大写
.text-capitalize {
 text-transform: capitalize;
}
// 文字字重
.text-weight-light {
 font-weight: lighter;
}
// 文字字重
.text-weight-normal {
 font-weight: normal;
}
// 文字字重
.text-weight-bold {
 font-weight: bold;
}
// 文字居中
.text-center {
 text-align: center;
}
// 文字居左
.text-left {
 text-align: left;
}
// 文字居右
.text-right {
 text-align: right;
}
// 字体大小
.text-12 {
 @include textBasic(12, 20px);
}
.text-14 {
 @include textBasic(14, 20px);
}
.text-16 {
 @include textBasic(16, 22px);
}
.text-18 {
 @include textBasic(18, 24px);
}
.text-20 {
 @include textBasic(20, 26px);
}
// 标题
.h1,
h1 {
 @include textBasic(30, 38px);
}
.h2,
h2 {
 @include textBasic(24, 32px);
}
.h3,
h3 {
 @include textBasic(20, 24px);
}
.h4,
h4 {
 @include textBasic(16, 22px);
}
.h5,
h5 {
 @include textBasic(14, 20px);
}
.h6,
h6 {
 @include textBasic(12, 20px);
}
