// 文字不换行
.text-nowrap {
  white-space: nowrap;
}

// 文字超出隐藏
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// 所有字母小写
.text-lowercase {
  text-transform: lowercase;
}

// 所有字母大写
.text-uppercase {
  text-transform: uppercase;
}

// 首字母大写
.text-capitalize {
  text-transform: capitalize;
}

// 文字字重
.text-weight-light {
  font-weight: lighter;
}

// 文字字重
.text-weight-normal {
  font-weight: normal;
}

// 文字字重
.text-weight-bold {
  font-weight: bold;
}

// 文字居中
.text-center {
  text-align: center;
}

// 文字居左
.text-left {
  text-align: left;
}

// 文字居右
.text-right {
  text-align: right;
}

// 信息文本
.text-info {
  color: #0065FF;
}

// 成功文本
.text-success {
  color: #22C993;
}

// 警告文本
.text-warning {
  color: #FFAD0D;
}

// 危险文本
.text-danger {
  color: #F03D3D;
}

//主要标题，正文文本
.text-main {
  color: #172B4D;
}

// 说明文本
.text-explain {
  color: #53627C;
}

//辅助文本，输入标签
.text-auxiliary {
  color: #8A94A6;
}

//禁用文本，展位文本
.text-disabled {
  color: #A6AEBC;
}

// 字体大小
.text-12 {
  font-size: 12px;
  line-height: 20px;
}

// 字体大小
.text-14 {
  font-size: 14px;
  line-height: 22px;
}

// 字体大小
.text-16 {
  font-size: 16px;
  line-height: 24px;
}

// 字体大小
.text-20 {
  font-size: 20px;
  line-height: 28px;
}

// 字体大小
.text-24 {
  font-size: 24px;
  line-height: 32px;
}

// 字体大小
.text-30 {
  font-size: 30px;
  line-height: 38px;
}

// 字体大小
.text-38 {
  font-size: 38px;
  line-height: 46px;
}

// 一级标题
.h1,
h1 {
  font-size: 30px;
  line-height: 38px;
}

// 二级标题
.h2,
h2 {
  font-size: 24px;
  line-height: 32px;
}

// 三级标题
.h3,
h3 {
  font-size: 20px;
  line-height: 28px;
}

// 四级标题
.h4,
h4 {
  font-size: 16px;
  line-height: 24px;
}

// 五级标题
.h5,
h5 {
  font-size: 14px;
  line-height: 22px;
}

// 六级标题
.h6,
h6 {
  font-size: 12px;
  line-height: 20px;
}
