.font-12 {
  font-size: 12px;
  line-height: 20px;
}

.font-12-align {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.font-14 {
  font-size: 14px;
  line-height: 22px;
}

.font-14-align {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.font-16 {
  font-size: 16px;
  line-height: 24px;
}

.font-16-align {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.font-20 {
  font-size: 20px;
  line-height: 28px;
}

.font-20-align {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.font-24 {
  font-size: 24px;
  line-height: 32px;
}

.font-24-align {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.font-30 {
  font-size: 30px;
  line-height: 38px;
}

.font-30-align {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}

.font-38 {
  font-size: 38px;
  line-height: 46px;
}

.font-38-align {
  font-size: 38px;
  line-height: 46px;
  text-align: center;
}
