.color-left {
  .title {
    margin: 20px;
  }
  .bg-box {
    .bg-box-color {
      width: 63px;
      height: 63px;
      margin-bottom: 20px;
    }
    .bg-box-name {
      margin: 20px auto;
    }
  }
}

.color-right {
  .bg-box-color {
    width: 40px;
    height: 16px;
  }
}
