@font-face {
 font-family: 'icon';
 font-style: normal;
 font-weight: normal;

 src: url('../font/ocjicon.ttf');
}
[class^="icon-"],
[class*=" icon-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'icon' !important;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 line-height: 1;
 text-transform: none;/* Better Font Rendering =========== */

 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 speak: none;
}


.icon-erp-activity:before {
 content: "\e60b";
}

.icon-erp-airplay:before {
 content: "\e60c";
}

.icon-erp-align-center:before {
 content: "\e60d";
}

.icon-erp-alert-circle:before {
 content: "\e60e";
}

.icon-erp-align-justify:before {
 content: "\e60f";
}

.icon-erp-alert-octagon:before {
 content: "\e610";
}

.icon-erp-alert-triangle:before {
 content: "\e611";
}

.icon-erp-align-right:before {
 content: "\e612";
}

.icon-erp-arrow-down:before {
 content: "\e613";
}

.icon-erp-arrow-down-left:before {
 content: "\e614";
}

.icon-erp-archive:before {
 content: "\e615";
}

.icon-erp-arrow-down-circle:before {
 content: "\e616";
}

.icon-erp-arrow-left-circle:before {
 content: "\e617";
}

.icon-erp-arrow-left:before {
 content: "\e618";
}

.icon-erp-arrow-down-right:before {
 content: "\e619";
}

.icon-erp-arrow-right:before {
 content: "\e61a";
}

.icon-erp-arrow-right-circle:before {
 content: "\e61b";
}

.icon-erp-anchor:before {
 content: "\e61c";
}

.icon-erp-arrow-up:before {
 content: "\e61d";
}

.icon-erp-arrow-up-left:before {
 content: "\e61e";
}

.icon-erp-arrow-up-right:before {
 content: "\e61f";
}

.icon-erp-award:before {
 content: "\e620";
}

.icon-erp-at-sign:before {
 content: "\e621";
}

.icon-erp-align-left:before {
 content: "\e622";
}

.icon-erp-arrow-up-circle:before {
 content: "\e623";
}

.icon-erp-bar-chart-:before {
 content: "\e624";
}

.icon-erp-bar-chart:before {
 content: "\e625";
}

.icon-erp-battery:before {
 content: "\e626";
}

.icon-erp-bell:before {
 content: "\e627";
}

.icon-erp-battery-charging:before {
 content: "\e628";
}

.icon-erp-bell-off:before {
 content: "\e629";
}

.icon-erp-bluetooth:before {
 content: "\e62a";
}

.icon-erp-bold:before {
 content: "\e62b";
}

.icon-erp-book:before {
 content: "\e62c";
}

.icon-erp-bookmark:before {
 content: "\e62d";
}

.icon-erp-box:before {
 content: "\e62e";
}

.icon-erp-briefcase:before {
 content: "\e62f";
}

.icon-erp-book-open:before {
 content: "\e630";
}

.icon-erp-volume:before {
 content: "\e631";
}

.icon-erp-video-off:before {
 content: "\e632";
}

.icon-erp-voicemail:before {
 content: "\e633";
}

.icon-erp-volume-x:before {
 content: "\e634";
}

.icon-erp-volume-:before {
 content: "\e635";
}

.icon-erp-watch:before {
 content: "\e636";
}

.icon-erp-volume-1:before {
 content: "\e637";
}

.icon-erp-calendar:before {
 content: "\e638";
}

.icon-erp-camera:before {
 content: "\e639";
}

.icon-erp-check-circle:before {
 content: "\e63a";
}

.icon-erp-chevron-down:before {
 content: "\e63b";
}

.icon-erp-chevron-left:before {
 content: "\e63c";
}

.icon-erp-chevrons-down:before {
 content: "\e63d";
}

.icon-erp-chevron-right:before {
 content: "\e63e";
}

.icon-erp-chevron-up:before {
 content: "\e63f";
}

.icon-erp-wifi-off:before {
 content: "\e640";
}

.icon-erp-x-circle:before {
 content: "\e641";
}

.icon-erp-wifi:before {
 content: "\e642";
}

.icon-erp-x-octagon:before {
 content: "\e643";
}

.icon-erp-x:before {
 content: "\e644";
}

.icon-erp-zoom-out:before {
 content: "\e645";
}

.icon-erp-zap:before {
 content: "\e646";
}

.icon-erp-zap-off:before {
 content: "\e647";
}

.icon-erp-camera-off:before {
 content: "\e648";
}

.icon-erp-x-square:before {
 content: "\e649";
}

.icon-erp-chevrons-right:before {
 content: "\e64a";
}

.icon-erp-check:before {
 content: "\e64b";
}

.icon-erp-chevrons-left:before {
 content: "\e64c";
}

.icon-erp-chevrons-up:before {
 content: "\e64d";
}

.icon-erp-circle:before {
 content: "\e64e";
}

.icon-erp-chrome:before {
 content: "\e64f";
}

.icon-erp-clipboard:before {
 content: "\e650";
}

.icon-erp-clock:before {
 content: "\e651";
}

.icon-erp-cloud-lightning:before {
 content: "\e652";
}

.icon-erp-cloud-rain:before {
 content: "\e653";
}

.icon-erp-cloud-drizzle:before {
 content: "\e654";
}

.icon-erp-cloud-off:before {
 content: "\e655";
}

.icon-erp-cloud:before {
 content: "\e656";
}

.icon-erp-code:before {
 content: "\e657";
}

.icon-erp-codepen:before {
 content: "\e658";
}

.icon-erp-cloud-snow:before {
 content: "\e659";
}

.icon-erp-columns:before {
 content: "\e65a";
}

.icon-erp-coffee:before {
 content: "\e65b";
}

.icon-erp-copy:before {
 content: "\e65c";
}

.icon-erp-compass:before {
 content: "\e65d";
}

.icon-erp-corner-down-left:before {
 content: "\e65e";
}

.icon-erp-corner-down-right:before {
 content: "\e65f";
}

.icon-erp-corner-left-down:before {
 content: "\e660";
}

.icon-erp-corner-right-down:before {
 content: "\e661";
}

.icon-erp-corner-right-up:before {
 content: "\e662";
}

.icon-erp-zoom-in:before {
 content: "\e663";
}

.icon-erp-corner-up-right:before {
 content: "\e664";
}

.icon-erp-check-square:before {
 content: "\e665";
}

.icon-erp-crop:before {
 content: "\e666";
}

.icon-erp-crosshair:before {
 content: "\e667";
}

.icon-erp-cpu:before {
 content: "\e668";
}

.icon-erp-corner-up-left:before {
 content: "\e669";
}

.icon-erp-corner-left-up:before {
 content: "\e66a";
}

.icon-erp-disc:before {
 content: "\e66b";
}

.icon-erp-database:before {
 content: "\e66c";
}

.icon-erp-delete:before {
 content: "\e66d";
}

.icon-erp-dollar-sign:before {
 content: "\e66e";
}

.icon-erp-download:before {
 content: "\e66f";
}

.icon-erp-droplet:before {
 content: "\e670";
}

.icon-erp-edit-:before {
 content: "\e671";
}

.icon-erp-download-cloud:before {
 content: "\e672";
}

.icon-erp-edit:before {
 content: "\e673";
}

.icon-erp-external-link:before {
 content: "\e674";
}

.icon-erp-eye:before {
 content: "\e675";
}

.icon-erp-eye-off:before {
 content: "\e676";
}

.icon-erp-file-minus:before {
 content: "\e677";
}

.icon-erp-fast-forward:before {
 content: "\e678";
}

.icon-erp-file-plus:before {
 content: "\e679";
}

.icon-erp-file-text:before {
 content: "\e67a";
}

.icon-erp-file:before {
 content: "\e67b";
}

.icon-erp-flag:before {
 content: "\e67c";
}

.icon-erp-folder-minus:before {
 content: "\e67d";
}

.icon-erp-folder:before {
 content: "\e67e";
}

.icon-erp-folder-plus:before {
 content: "\e67f";
}

.icon-erp-frown:before {
 content: "\e680";
}

.icon-erp-gift:before {
 content: "\e681";
}

.icon-erp-github:before {
 content: "\e682";
}

.icon-erp-hard-drive:before {
 content: "\e683";
}

.icon-erp-hash:before {
 content: "\e684";
}

.icon-erp-help-circle:before {
 content: "\e685";
}

.icon-erp-heart:before {
 content: "\e686";
}

.icon-erp-globe:before {
 content: "\e687";
}

.icon-erp-grid:before {
 content: "\e688";
}

.icon-erp-edit-1:before {
 content: "\e689";
}

.icon-erp-headphones:before {
 content: "\e68a";
}

.icon-erp-film:before {
 content: "\e68b";
}

.icon-erp-image:before {
 content: "\e68c";
}

.icon-erp-home:before {
 content: "\e68d";
}

.icon-erp-hexagon:before {
 content: "\e68e";
}

.icon-erp-inbox:before {
 content: "\e68f";
}

.icon-erp-info:before {
 content: "\e690";
}

.icon-erp-instagram:before {
 content: "\e691";
}

.icon-erp-key:before {
 content: "\e692";
}

.icon-erp-italic:before {
 content: "\e693";
}

.icon-erp-layers:before {
 content: "\e694";
}

.icon-erp-link-:before {
 content: "\e695";
}

.icon-erp-layout:before {
 content: "\e696";
}

.icon-erp-life-buoy:before {
 content: "\e697";
}

.icon-erp-link:before {
 content: "\e698";
}

.icon-erp-loader:before {
 content: "\e699";
}

.icon-erp-list:before {
 content: "\e69a";
}

.icon-erp-log-in:before {
 content: "\e69b";
}

.icon-erp-lock:before {
 content: "\e69c";
}

.icon-erp-log-out:before {
 content: "\e69d";
}

.icon-erp-map-pin:before {
 content: "\e69e";
}

.icon-erp-map:before {
 content: "\e69f";
}

.icon-erp-menu:before {
 content: "\e6a0";
}

.icon-erp-maximize-:before {
 content: "\e6a1";
}

.icon-erp-meh:before {
 content: "\e6a2";
}

.icon-erp-message-circle:before {
 content: "\e6a3";
}

.icon-erp-message-square:before {
 content: "\e6a4";
}

.icon-erp-mic-off:before {
 content: "\e6a5";
}

.icon-erp-mic:before {
 content: "\e6a6";
}

.icon-erp-minimize:before {
 content: "\e6a7";
}

.icon-erp-mail:before {
 content: "\e6a8";
}

.icon-erp-minus-square:before {
 content: "\e6a9";
}

.icon-erp-minus:before {
 content: "\e6aa";
}

.icon-erp-more-horizontal:before {
 content: "\e6ab";
}

.icon-erp-monitor:before {
 content: "\e6ac";
}

.icon-erp-minimize-:before {
 content: "\e6ad";
}

.icon-erp-minus-circle:before {
 content: "\e6ae";
}

.icon-erp-moon:before {
 content: "\e6af";
}

.icon-erp-more-vertical:before {
 content: "\e6b0";
}

.icon-erp-mouse-pointer:before {
 content: "\e6b1";
}

.icon-erp-music:before {
 content: "\e6b2";
}

.icon-erp-navigation:before {
 content: "\e6b3";
}

.icon-erp-navigation-:before {
 content: "\e6b4";
}

.icon-erp-octagon:before {
 content: "\e6b5";
}

.icon-erp-paperclip:before {
 content: "\e6b6";
}

.icon-erp-package:before {
 content: "\e6b7";
}

.icon-erp-maximize:before {
 content: "\e6b8";
}

.icon-erp-pause-circle:before {
 content: "\e6b9";
}

.icon-erp-move:before {
 content: "\e6ba";
}

.icon-erp-percent:before {
 content: "\e6bb";
}

.icon-erp-pen-tool:before {
 content: "\e6bc";
}

.icon-erp-phone-call:before {
 content: "\e6bd";
}

.icon-erp-phone-forwarded:before {
 content: "\e6be";
}

.icon-erp-phone-incoming:before {
 content: "\e6bf";
}

.icon-erp-phone-missed:before {
 content: "\e6c0";
}

.icon-erp-phone-off:before {
 content: "\e6c1";
}

.icon-erp-phone-outgoing:before {
 content: "\e6c2";
}

.icon-erp-phone-outgoing1:before {
 content: "\e6c3";
}

.icon-erp-play-circle:before {
 content: "\e6c4";
}

.icon-erp-phone:before {
 content: "\e6c5";
}

.icon-erp-play:before {
 content: "\e6c6";
}

.icon-erp-pie-chart:before {
 content: "\e6c7";
}

.icon-erp-plus-circle:before {
 content: "\e6c8";
}

.icon-erp-plus:before {
 content: "\e6c9";
}

.icon-erp-pocket:before {
 content: "\e6ca";
}

.icon-erp-printer:before {
 content: "\e6cb";
}

.icon-erp-radio:before {
 content: "\e6cc";
}

.icon-erp-refresh-ccw:before {
 content: "\e6cd";
}

.icon-erp-printer1:before {
 content: "\e6ce";
}

.icon-erp-refresh-cw:before {
 content: "\e6cf";
}

.icon-erp-rotate-ccw:before {
 content: "\e6d0";
}

.icon-erp-power:before {
 content: "\e6d1";
}

.icon-erp-rotate-cw:before {
 content: "\e6d2";
}

.icon-erp-plus-square:before {
 content: "\e6d3";
}

.icon-erp-rewind:before {
 content: "\e6d4";
}

.icon-erp-repeat:before {
 content: "\e6d5";
}

.icon-erp-rss:before {
 content: "\e6d6";
}

.icon-erp-save:before {
 content: "\e6d7";
}

.icon-erp-scissors:before {
 content: "\e6d8";
}

.icon-erp-send:before {
 content: "\e6d9";
}

.icon-erp-search:before {
 content: "\e6da";
}

.icon-erp-settings:before {
 content: "\e6db";
}

.icon-erp-shield-off:before {
 content: "\e6dc";
}

.icon-erp-share-:before {
 content: "\e6dd";
}

.icon-erp-share:before {
 content: "\e6de";
}

.icon-erp-shield:before {
 content: "\e6df";
}

.icon-erp-shopping-cart:before {
 content: "\e6e0";
}

.icon-erp-shopping-bag:before {
 content: "\e6e1";
}

.icon-erp-shuffle:before {
 content: "\e6e2";
}

.icon-erp-skip-back:before {
 content: "\e6e3";
}

.icon-erp-sidebar:before {
 content: "\e6e4";
}

.icon-erp-slash:before {
 content: "\e6e5";
}

.icon-erp-skip-forward:before {
 content: "\e6e6";
}

.icon-erp-smile:before {
 content: "\e6e7";
}

.icon-erp-square:before {
 content: "\e6e8";
}

.icon-erp-speaker:before {
 content: "\e6e9";
}

.icon-erp-stop-circle:before {
 content: "\e6ea";
}

.icon-erp-smartphone:before {
 content: "\e6eb";
}

.icon-erp-star:before {
 content: "\e6ec";
}

.icon-erp-sliders:before {
 content: "\e6ed";
}

.icon-erp-tag:before {
 content: "\e6ee";
}

.icon-erp-tablet:before {
 content: "\e6ef";
}

.icon-erp-sun:before {
 content: "\e6f0";
}

.icon-erp-server:before {
 content: "\e6f1";
}

.icon-erp-terminal:before {
 content: "\e6f2";
}

.icon-erp-target:before {
 content: "\e6f3";
}

.icon-erp-thermometer:before {
 content: "\e6f4";
}

.icon-erp-thumbs-down:before {
 content: "\e6f5";
}

.icon-erp-toggle-left:before {
 content: "\e6f6";
}

.icon-erp-thumbs-up:before {
 content: "\e6f7";
}

.icon-erp-toggle-right:before {
 content: "\e6f8";
}

.icon-erp-trash:before {
 content: "\e6f9";
}

.icon-erp-trash-:before {
 content: "\e6fa";
}

.icon-erp-trello:before {
 content: "\e6fb";
}

.icon-erp-trending-up:before {
 content: "\e6fc";
}

.icon-erp-triangle:before {
 content: "\e6fd";
}

.icon-erp-trending-down:before {
 content: "\e6fe";
}

.icon-erp-tv:before {
 content: "\e6ff";
}

.icon-erp-truck:before {
 content: "\e700";
}

.icon-erp-underline:before {
 content: "\e701";
}

.icon-erp-type:before {
 content: "\e702";
}

.icon-erp-umbrella:before {
 content: "\e703";
}

.icon-erp-unlock:before {
 content: "\e704";
}

.icon-erp-upload:before {
 content: "\e705";
}

.icon-erp-upload-cloud:before {
 content: "\e706";
}

.icon-erp-usergeren:before {
 content: "\e707";
}

.icon-erp-user-minus:before {
 content: "\e708";
}

.icon-erp-user-check:before {
 content: "\e709";
}

.icon-erp-user-x:before {
 content: "\e70a";
}

.icon-erp-user-plusxinzengyonghu:before {
 content: "\e70b";
}

.icon-erp-usersyonghuzu:before {
 content: "\e70c";
}

.icon-erp-video:before {
 content: "\e70d";
}
