/**
 * 本文件是项目样式构建主入口文件
**/
.app{
	margin: 20px 80px;
}
// 引入字体样式
@import "font";

// 项目重置 默认样式
@import "reset";

// 项目布局样式
@import "layout";

// 项目自定义可复用模块样式
@import "moudule";

// 项目公共样式
@import "pages/index";
